<section class="container page">
  <article>
    <header>
      <h1 class="article-title">{{ .Title }}</h1>
    </header>
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
</section>
